<h1>
  Hello World!
</h1>

<h3>TODO:</h3>
<ul>
  <li>Setup CI with Github Actions ✅</li>
  <li>Basic auth system</li>
  <li>Google OAuth SSO</li>
  <li>TailWind CSS (compiled without Node!)</li>
  <li>Run ActiveJob tasks</li>
  <li>Use Import maps</li>
  <li>Use Stimulus</li>
  <li>Use ActionCable</li>
  <li>Connect to AWS services</li>
  <li>Enforce Rubocop Style ✅</li>
  <li>Enforce 100% test coverage</li>
  <li>Run Ferrum for integration tests within Docker Compose</li>
</ul>

EXTRA:
<ul>
  <li>Setup assets bridging between rolling deploys</li>
</ul>